.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* gap: 10px; */
}

/* left */

.left-div {
    width: 70%;
    margin: 2%;
    padding: 4%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.151);
    border-radius: 5%;


}

.left-table {
    width: 100%;
    height: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 6%;
    border-style: none none solid none;
    border-color: rgba(0, 0, 0, 0.186);
    border-width: 1.9px;
    padding: 3%;
}

label {
    font-size: medium;

}

.left-table input {
    width: 100%;
    height: 100%;
    /* padding: 3%; */
    margin-bottom: 5%;


}

.left-table .input {
    padding: 3%;
}

.file-input::file-selector-button {
    display: none;
    z-index: 999;
    cursor: pointer;

}

.left-table [type=file] {
    background-color: #7B1113;
    color: white;
    width: 100%;
    height: 100%;
    padding: 4%;
    cursor: pointer;
}

.left-table input[type=submit] {
    background-color: #7B1113;
    margin-bottom: 3%;
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    padding: 3%;
    cursor: pointer;
}



/* right */

.right-tbody {
    display: block;
    max-height: 35vw;
    overflow-y: auto;

}

.right-thead,
.right-tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;


}

.right-div {
    width: 55vw;
    /* height: auto; */
    margin-top: 10%;
    /* padding: 1%; */
    position: relative;
    right: 15%;

}

.right-table {
    background-color: #7b11130e;
    text-align: center;
    border-collapse: collapse;
    /* border: solid; */



}

.right-table thead {
    color: white;
    width: 100%;
    border: solid 1px;
    background-color: #7B1113;
    padding: 50px;
}

.td:nth-of-type(even) {
    background-color: #ffffff;
}

.td {
    padding: 20px;
    cursor: pointer;
}

.tab {
    padding: 25px;
}

tbody img {
    width: 100%;
}