
/* carousel */
 .carousel{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /* margin-top: 6%; */
    margin-bottom: 5%;
    object-fit: cover;

    /* border: solid; */

    
}
.carousel-img{
 width: 100%;
 height: 100%;
 
}

/* product-item */
.product{
     padding-bottom: 10%;
     background-color: white;
     max-width: 290px;
    height: auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.151);
    overflow: hidden;
    transition: 0.2s;
    /* margin-left: 5%;
    margin-bottom: 5%; */
    margin: auto;
    width: 100%;
    /* justify-content: center; */
    /* border: solid; */

}
.grid{
       display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   margin: auto;
   padding: 20px;
   gap: 20px;
   width: 90%;
 
   
    

}
.product:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
/* .product-name{
    font-size: larger;
    font-weight: bold;
} */
.label-box{
    /* border: 1px solid rgba(8, 8, 8, 0.333); */
    padding: 1%;
    margin: 2%;
    
}
.product-img-holder{
    width: 100%;
    height: 250px;
    overflow: hidden;
    /* margin-bottom: 15px; */
}
/* .product-img-holder{
    height: 200px;
} */
.product-img-holder img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
@media(max-width: 500px){
    .product-img-holder{
        height: 160px;
    }
}

button.add, button.buy{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: #9b1b1d;
    cursor: pointer;
 


}

button.add:active, button.buy:active{
   background-color: #7B1113;
 }

 /* cart */
 .cart-item-count{
    position: absolute;
    top: 35px;
    right: 25px;
    width: 20px;
    height: 20px;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    transform: scale(1.3);
    transition: 0.1s;
 }

 .cart{
    z-index: 999999;
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 65px 20px 40px;
    overflow: auto;
    transition: 0.5s;
 }
 .cart.active{
    right: 0;
     transition: 0.5s;
 }
 .cart-title{
    text-align: center;
    font-size: 30px;
 }
 .cart-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
 }
 .cart-box img{
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    margin-left: 20px;
 }
.cart-detail{
    display: grid;
    gap: 8px;
    margin:0 60px 0 10px;

}
.cart-product-title{
    /* font-size: 16px; */
    line-height: 1;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    display: flex;
    width: 100px;
    border: 1px solid #999;
    border-radius: 6px;
}
.cart-quantity button{
    background: transparent;
    width: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.cart-quantity #decrement{
    color: #999;
}
.cart-quantity .number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: default;
    
}
.cart-remove{
    font-size: 25px;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #333;
    margin-top: 20px;
    font-size: 18px;

}
.total-price{
    margin-left: 10px;
    font-weight: 500;
}
.btn-buy{
    text-align: center;
    display: block;
    width: 50%;
    padding: 10px 30px;
    background-color: #9b1b1d;
    border: none;
    /* border-radius: 6px; */
    font-size: 16px;
    color: #fff;
    margin: 20px auto 0;
    cursor: pointer;
}
#cart-close{
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
}
