body{
    background-color: rgb(228, 228, 228);
    color: rgb(26, 26, 26);
}

.row{
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      margin: 10%;
    padding: 20px;
    gap: 20px;
    
}
.col-lg-4{
    margin: auto;
    padding: 20px;
    border: solid rgb(233, 233, 233);
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.151);
 

}
.product-image{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.product-info{
    text-align: left;
}

/* modal */
.Modal{
    display: none;
    z-index: 1000;
    position: fixed;
    background-color: white;
    top: 20%;
    left: 35%;
    padding: 3%;
    width: 30%;
  

    
    

    

}
.modal-content{

  justify-content: center;
  align-items: center;
 text-align:center ;
  
}
.button{
    display: flex;
    
}
.button button{
    padding: 5px;
    margin: 5px;
}
