/* body{
    background-color: rgb(228, 228, 228);
    color: rgb(26, 26, 26);
} */

.row{
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  display: grid;
      margin: 5%;
    padding: 20px; 
    gap: 20px;
    
}
.col-lg-4{
    margin: auto;
    padding: 20px;
    border: solid rgb(233, 233, 233);
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 100%;
  
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.151);


}
.product-image{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.product-info{
    text-align: left;
}

/* modal */
.Modal{
   display: none;
    z-index: 1000;
    position: fixed;
   border: solid;
    padding: 3%;
    width: 30%;

}
.modal-content{
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;

}
.mBox{
 display: flex;
 gap: 20px;
 margin: 5px;

}
input#mTotal{
border: none;
outline: none;
background-color: rgba(255, 255, 255, 0);
width: 50%;

}

input#btn-checkOut {
    padding: 6px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    align-items: center;
    
    
 
} 
input#btn-checkOut:hover{
    background-color: rgb(83, 80, 80);
    color: white;
}
input#btn-checkOut:active{
    background-color: rgb(56, 55, 55);
    color: white;
}
#quantity{
    border-style: none none solid none;
    width: 30%;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}
#modal-close{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}
#mImage{
    width: 40%;
    height: 40%;
    max-width: 200px;
}
.input-product{
       outline: none;
       background-color: rgba(255, 255, 255, 0); 
       border: none;
       width: 40%;
}