@import url(https://db.onlinewebfonts.com/c/8b65bc1a4ff631af619923cb725a246f?family=Nofret+Light);

@font-face {
    font-family: "Nofret Light";
    src: url("https://db.onlinewebfonts.com/t/8b65bc1a4ff631af619923cb725a246f.eot");
    src: url("https://db.onlinewebfonts.com/t/8b65bc1a4ff631af619923cb725a246f.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/8b65bc1a4ff631af619923cb725a246f.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/8b65bc1a4ff631af619923cb725a246f.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/8b65bc1a4ff631af619923cb725a246f.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/8b65bc1a4ff631af619923cb725a246f.svg#Nofret Light")format("svg");
}

* {
    font-family: "Nofret Light";
}

body {
    background-color: white;
}

/* carousel */

.carousel-item img {
    width: 100%;
    height: 100%;


}

.carousel-indicators button {
    background-color: #014532;
}

/* header */
#nav {
    background-color: #014532;
}

.container {
    margin-top: 2%;

}

.row {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: grid;
    margin: auto;

    padding: 20px;
    width: 100%;
    gap: 20px;
    justify-items: center;

}

.col-lg-4 {

    width: 100%;
    max-width: 250px;
    padding: 15px;
    border: 1px solid rgb(233, 233, 233);
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.151);


}


.product-image {
    width: 150px;
    height: 150px;
}

h2 {
    text-align: center;


}


/* logo */
.logo {
    width: 10%;
    height: 10%;
    margin: 0px 5px 5px 15px;



}

.logo img {
    width: 80%;
    height: 100%;
}

/* button */
.btn {
    margin-top: 10px;

}

#buy-btn {
    background-color: white;
    color: black;
    border-radius: 50px;
}

#buy-btn:hover {
    background-color: #014532;
    color: white;
}

/* modal */
dialog{
    padding: 50px 0px;
}
#modal {
    border: none;


}

.modal {
    position: relative;
}

.modal-content {
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;

}

.mBox {
    display: flex;
    gap: 20px;
    margin: 5px;

}

input#mTotal {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    width: 50%;

}
.check-out{
    position:absolute;
    right:0;

  
}
input#btn-checkOut {
    padding: 10px;
    margin: 5px;
    border: solid 1px;
    border-radius: 50px;
    align-items: center;
    background-color: white;
    transition: 0.3s;
    




}

input#btn-checkOut:hover {
    background-color: #014532;
    color: white;
    transition: 0.3s;
}

#quantity {
    border-style: none none solid none;
    width: 30%;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}

#modal-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: #014532;
    color: white;
}

#mImage {
    width: 100%;
    height: 100%;
    max-width: 300px;
}

.input-product {
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 40%;
}

.user-info input {
    border-style: none none solid none;
    outline: none;

}