nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px; 
}

body {
    padding-top: 80px; 
}

.container-lr {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    padding-top: 120px;
    width: 100%;
    padding: 0 5%;



}

/* insert left */
.left-div {
    width: 100%;
    margin: 0;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 12px #2f2f2f65;
}

.left-div h4 {
    margin-bottom: 10px;
    text-align: center;
}

.left-table {
    margin-top: 10px;
    width: 100%;

}

.left-table input {
    width: 100%;
    height: 100%;
    padding: 5px;
    margin-top: 5px;
}

.left-table input[type=submit] {
    margin-top: 5px;
    padding: 2px;

}

.file-input::file-selector-button {
    display: none;
    z-index: 999;
    cursor: pointer;

}

.left-table [type=file] {
    background-color: #014532;
    color: white;
    width: 100%;
    height: 100%;
    padding: 4%;
    cursor: pointer;
}

.left-table input[type=submit] {
    background-color: #014532;
    margin-bottom: 3%;
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    padding: 3%;
    cursor: pointer;
}


/* table right */
.right-tbody {
    max-height: 400px;
    overflow-y: auto;
    display: block;
}

.right-thead,
.right-tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.right-div {
    width: 100%;
    margin-top: 0;
    position: static; 
}

.right-table {
    background-color: #0145322a;
    text-align: center;
    border-collapse: collapse;
}

.right-table thead {
    color: white;
    background-color: #014532;

    /* width: 100%;
    padding: 50px; */
}

.td:nth-last-of-type(even) {
    background: white;
}

.td img {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.right-thead {
    pointer-events: none;

}

/* responsive */
@media (max-width: 768px) {
    .container-lr {
        grid-template-columns: 1fr;
    }

    .right-div {
        margin-top: 2rem;
    }

    .right-tbody {
        max-height: 300px;
    }
}
